<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>render</title>
  <script src="vue.js"></script>
</head>
<body>
  <div id="app">
  </div>
  <script type="text/x-template" id="template">
    <div>
      <h1 v-if="level === 1">
        <slot></slot>
      </h1>
      <h2 v-if="level === 2">
        <slot></slot>
      </h2>
      <h3 v-if="level === 3">
        <slot></slot>
      </h3>
      <h4 v-if="level === 4">
        <slot></slot>
      </h4>
      <h5 v-if="level === 5">
        <slot></slot>
      </h5>
      <h6 v-if="level === 6">
        <slot></slot>
      </h6>
    </div>
  </script>

  <script type="text/javascript">
      Vue.component('child', {
        template: '#template',
        props: {
          level: {
            type: Number,
            required: true
          }
        }
      })

      new Vue({
        render:function(h){
          var xml =  h(
            'child',
            {
              ref:'a',
              props:{
                level:2
              }
            },
            [
              h('h1','一则头条')
            ]
          );
          console.log(xml);
          return xml;
        },
        ref:'xx',
        mounted:function(){
          console.log(this.xx)
        }
      }).$mount('#app')
  </script>
</body>
</html>