<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>second demo</title>
	<script type="text/javascript" src="vue.js"></script>
</head>
<body>
	<div id="app">
		<div>
	  		message:{{ message }}
	  	</div>
		<div>
	  		<p>{{ message }}</p>
	  		<input v-model="message">
		</div>
		<div>
		  <ul>
		    <li v-for="todo in todos">
		      {{ todo.text }}
		    </li>
		  </ul>
		</div>
		<div>
	  		<p>{{ message }}</p>
	  		<button v-on:click="reverseMessage">Reverse Message</button>
		</div>
	</div>
	<script type="text/javascript">
		new Vue({
		  el: '#app',
		  data: {
		    message: 'Hello Vue1.js!',
		    todos: [
		      { text: 'Learn JavaScript' },
		      { text: 'Learn Vue.js' },
		      { text: 'Build Something Awesome' }
		    ]
		  },
		  methods: {
		    reverseMessage: function () {
		      this.message = this.message.split('').reverse().join('')
		    }
		  }
		})
	</script>
</body>
</html>